<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Інформатика і КІТ</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/info-kit.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="header-nav">
          <a class="header-logo" href="../index.html">Galyna Vorona</a>
          <ul class="header-list">
            <li class="header-list-item">
              <a class="header-item-link" href="../index.html#subject"
                >Предмети</a
              >
            </li>
            <li class="header-list-item">
              <a class="header-item-link" href="#structure">Структура</a>
            </li>
            <li class="header-list-item">
              <a class="header-item-link" href="#footer">Контакти</a>
            </li>
          </ul>
          <button class="header-btn">
            <svg class="header-btn-icon" width="26" height="26">
              <use href="../img/icon.svg#icon-menu"></use>
            </svg>
          </button>
        </nav>

        <div class="header-mob-menu">
          <ul class="header-mob-menu-list">
            <li class="header-mob-list-item">
              <a class="header-mob-item-link" href="../index.html">Предмети</a>
            </li>
            <li class="header-mob-list-item">
              <a class="header-mob-item-link" href="#structure">Структура</a>
            </li>
            <li class="header-mob-list-item">
              <a class="header-mob-item-link" href="#footer">Контакти</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <section class="hero">
        <h1 class="hero-title">Інформатика і КІТ</h1>
      </section>
      <section class="calendar">
        <div class="container">
          <div class="calendar-container">
            <h3></h3>
            <ol class="calendar-list">
              <li class="calendar-list-item">
                <span class="calendar-list-span"
                  >Мета навчальної дисципліни:</span
                >
                Формування в студентів інформаційної культури та інформатичної
                компетентності для реалізації
              </li>
              <li class="calendar-list-item">
                <span class="calendar-list-span"
                  >Завдання навчальної дисципліни:</span
                >
                Формування в студентів знань й умінь, необхідних для ефективного
                використання сучасних інформаційно-комунікаційних технологій у
                навчально-пізнавальній діяльності
              </li>
              <li class="calendar-list-item">
                <span class="calendar-list-span">Кількість годин</span>: 105
              </li>
            </ol>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
    <script src="../js/main.js" type="module" defer></script>
  </body>
</html>
