<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Офісне ПЗ</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/office-software.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="header-nav">
          <a class="header-logo" href="../index.html">Galyna Vorona</a>
          <ul class="header-list">
            <li class="header-list-item">
              <a class="header-item-link" href="../index.html#subject"
                >Предмети</a
              >
            </li>
            <li class="header-list-item">
              <a class="header-item-link" href="#structure">Структура</a>
            </li>
            <li class="header-list-item">
              <a class="header-item-link" href="#footer">Контакти</a>
            </li>
          </ul>
          <button class="header-btn">
            <svg class="header-btn-icon" width="26" height="26">
              <use href="../img/icon.svg#icon-menu"></use>
            </svg>
          </button>
        </nav>

        <div class="header-mob-menu">
          <ul class="header-mob-menu-list">
            <li class="header-mob-list-item">
              <a class="header-mob-item-link" href="../index.html">Предмети</a>
            </li>
            <li class="header-mob-list-item">
              <a class="header-mob-item-link" href="#structure">Структура</a>
            </li>
            <li class="header-mob-list-item">
              <a class="header-mob-item-link" href="#footer">Контакти</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <section class="hero">
        <h1 class="hero-title">Офісне ПЗ</h1>
      </section>
      <section class="calendar">
        <div class="container">
          <div class="calendar-container">
            <h3></h3>
            <ol class="calendar-list">
              <li class="calendar-list-item">
                <span class="calendar-list-span"
                  >Мета навчальної дисципліни:</span
                >
                ефективне використання сучасних інформаційно-комунікаційних
                технологій у професіональній діяльності.
              </li>
              <li class="calendar-list-item">
                <span class="calendar-list-span"
                  >Завдання навчальної дисципліни:</span
                >
                вивчення теоретичних основ інформатики і набуття навичок
                використання прикладних систем обробки даних та систем
                програмування для персональних комп’ютерів і локальних
                комп’ютерних мереж під час розв’язання завдань офісного
                спрямування
              </li>
              <li class="calendar-list-item">
                <span class="calendar-list-span">Кількість годин</span>: 51
              </li>
            </ol>
          </div>
        </div>
      </section>

      <!-- Table -->
      <section class="table" id="structure">
        <div class="container">
          <h2 class="table-title">Перелік тем</h2>
          <table>
            <thead>
              <tr>
                <th>
                  № <br />
                  з/п
                </th>
                <th>Тема</th>
              </tr>
            </thead>
            <tbody>
              <!-- 1 розділ -->
              <tr>
                <td class="table-number"></td>
                <td class="table-row">
                  Архітектура та принципи функціонування ПК
                </td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>
                  Поняття про ядро операційної системи, інтерфейс користувача,
                  драйвери та утиліти.
                </td>
              </tr>
              <tr>
                <td class="table-number">1.</td>
                <td>
                  Робота з основними елементами графічного інтерфейсу
                  користувача операційної системи. Знайомство з Windows.
                </td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>
                  Робота з файловою системою. Стандартні програми Windows.
                </td>
              </tr>
              <!-- 2 розділ -->
              <tr class="table-section">
                <td class="table-number"></td>
                <td class="table-row">
                  Текстові редактори. Текстовий процесор.
                </td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>
                  Шрифти і шаблони документів, що застосовуються у діловодстві.
                </td>
              </tr>
              <tr>
                <td class="table-number">2.</td>
                <td>Перевірка орфографії і грамматики.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>
                  Використання функцій, засобів роботи з великими документами.
                  Робота з списками.
                </td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>
                  Робота з колонками . Маркірований список. Нумеровані списки.
                  Створення багаторівневого списку. Текстові колонки.
                </td>
              </tr>
              <!-- 3 розділ -->
              <tr class="table-section">
                <td class="table-number"></td>
                <td class="table-row">
                  Робота з списками. Робота з колонками Списки у Word.
                  Маркірований список. Нумеровані списки. Створення
                  багаторівневого списку. Текстові колонки. Загальні відомості.
                </td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>
                  Створення таблиць у документі. Редагування таблиць.
                  Форматування таблиць.
                </td>
              </tr>
              <tr>
                <td class="table-number">3.</td>
                <td>
                  Використання графіки в документах. Робота з графічними
                  об’єктами.
                </td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Редактор формул. Створення і редагування формул</td>
              </tr>
              <!-- 4 розділ -->
              <tr class="table-section">
                <td class="table-number"></td>
                <td class="table-row">
                  Технологія створення, редагування та показу електронних
                  презентацій
                </td>
              </tr>
              <tr>
                <td class="table-number">4.</td>
                <td>Програмні засоби для створення презентацій.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Створення, редагування та показ електронних презентацій</td>
              </tr>
              <!-- 5 розділ -->
              <tr class="table-section">
                <td class="table-number"></td>
                <td class="table-row-bold">Змістовий модуль</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td class="table-row">
                  Табличний процесор Загальні відомості.
                </td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Розділи головного меню.</td>
              </tr>
              <tr>
                <td class="table-number">5.</td>
                <td>Основні прийоми роботи.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Відносні посилання. Абсолютні посилання.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Робота з формулами. Вбудовані функції.</td>
              </tr>
              <tr class="table-section">
                <td class="table-number"></td>
                <td class="table-row">Обчислення в Excel</td>
              </tr>
              <!-- 6 розділ -->
              <tr>
                <td class="table-number"></td>
                <td>Діаграми та типи діаграм. Елементи діаграм</td>
              </tr>
              <tr>
                <td class="table-number">6.</td>
                <td>
                  Створення діаграми за допомогою Майстра діаграм. Модифікація
                  діаграм.
                </td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>
                  Управління даними – списки і діапазони, сортування, пошук і
                  фільтрація даних
                </td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>
                  Зведені таблиці. Конвертування даних в рамках офісних додатків
                </td>
              </tr>
              <!-- 7 розділ -->
              <tr class="table-section">
                <td class="table-number">7.</td>
                <td class="table-row">
                  Алгоритм пошуку рішення і його застосування в прикладних
                  задачах
                </td>
              </tr>
              <!-- 8 розділ -->
              <tr class="table-section">
                <td class="table-number"></td>
                <td class="table-row">Теорія баз даних</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Поняття і види баз даних.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Аномалії баз даних.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Нормальні форми баз даних.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Системи управління базами даних.</td>
              </tr>
              <tr>
                <td class="table-number">8.</td>
                <td>Таблиці. Способи створення таблиць.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Параметри полів. Створення зв'язків, види зв'язків.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Підтримка цілісності даних.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Операції з таблицями. Запит, види запитів.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>
                  Створення запитів, пристрій табличної частини. Умови відбору
                  записів.
                </td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>
                  Варіанти запитів. Обчислювані поля і групові операції.
                  Перехресні запити.
                </td>
              </tr>
              <tr class="table-section">
                <td class="table-number"></td>
                <td class="table-row">Форми і звіти</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Способи створення форм.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Структура форми.</td>
              </tr>
              <tr>
                <td class="table-number">9.</td>
                <td>Основні елементи керування.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>Звіти. Перетворення звітів.</td>
              </tr>
              <tr>
                <td class="table-number"></td>
                <td>
                  Створення багато табличних форм. Звіти. Перетворення звітів.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <footer class="footer" id="footer">
      <div class="container footer-container">
        <a class="footer-logo" href="../index.html">Galyna Vorona</a>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a class="footer-item-link" href="">privacy policy</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-item-link" href="">terms & conditions</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-item-link" href="">copyright notifications</a>
          </li>
        </ul>
        <ul class="footer-soc-list">
          <li class="footer-soc-list-item">
            <a class="footer-soc-item-link" href="">
              <svg class="footer-soc-link-svg" width="30" height="30">
                <use href="../img/icon.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-list-item">
            <a class="footer-soc-item-link" href="">
              <svg class="footer-soc-link-svg" width="30" height="30">
                <use href="../img/icon.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-list-item">
            <a class="footer-soc-item-link" href="">
              <svg class="footer-soc-link-svg" width="30" height="30">
                <use href="../img/icon.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-list-item">
            <a class="footer-soc-item-link" href="">
              <svg class="footer-soc-link-svg" width="30" height="30">
                <use href="../img/icon.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-list-item">
            <a class="footer-soc-item-link" href="">
              <svg class="footer-soc-link-svg" width="30" height="30">
                <use href="../img/icon.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="../js/main.js" type="module" defer></script>
  </body>
</html>
